# Large data files
data/propicto-source/*.json
data/propicto_base.json
data/processed/train.*
/data/cache/
data/cache/images/pictograms.lmdb/data.mdb

# Model files
eole/eole/tests/test_model2/*.safetensors
*.safetensors

# LMDB databases
*.lmdb/
*.lmdb/data.mdb

french-text-to-picto/
PictoFork/
/home/robin/Desktop/pictoNMT/data/cache

/tests
/scripts/diagnose_data.py
/scripts/verify_setup.py